.custom-cluster-icon {
    background-color: #007bff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 32px;
    height: 32px;
}

.custom-cluster-small {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 18px;
    border: solid 1px;
}

.custom-cluster-medium {
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 24px;
    border: solid 1px;
}

.custom-cluster-large {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 30px;
    border: solid 1px;
}